.Home {
  text-align: center;
  background-color: #D4B8AB;
  height: 70vh;
  padding-top: 30vh;
  padding-left: 140px;
  padding-right: 140px;
}

.Summary {
  height: 90vh;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #E2DFE2;
}

.summary-background {
  padding-left: 160px;
  width: 826px;
  height: 551px;
  position: absolute;
}

.summary-text {
  width: 350px;
  margin-top: 250px;
  padding: 30px;
  font-size: 16px;
  position: absolute;
  border: 0.5px solid #D4B8AB;
  background-color: #E2DFE2;
}

.Navigation {
  padding-left: 140px;
  padding-right: 140px;
  background-color: #E2DFE2;
}

.img-2 , .img-3, .img-4 {
  height: 500px;
  width: 150px;
}

.Story, .Projects, .Contact {
  height: 100vh;
  padding-left: 140px;
  padding-right: 140px;
}

.Footer {
  height: 10vh;
  text-align: center;
  background-color: #D4B8AB;
}

.Footer p {
  padding-top: 15px;
  font-size: 10px;
}

h1 {
  font-family: "Geometria";
  font-size: 110px;
  margin: 0;
}

h2 {
  font-family: "Raleway";
  font-size: 28px;
  text-align: center;
}

p {
  font-family: "Raleway";
  font-size: 18px;
}

a {
  font-family: "Raleway";
  font-size: 18px;
}

.Navigation {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Navigation a {
  font-size: 18px;
  padding-right: 145px;
}

.Navigation #last {
  padding: 0;
}

.story-group {
  display: inline-flex;
}

.story-image {
  float: left;
}

.story-text {
  float: right;
  width: 450px;
  line-height: 30px;
  font-size: 16px;
}

.story-text br {
  line-height: 40px;
}

.contact-form {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 120px;
  border: 1px solid black;
  font-size: 18px;
  font-family: "Raleway";
}

input, textarea {
  font-size: 18px;
  font-family: "Raleway";
  width: 350px;
  height: 25px;
}

textarea {
  height: 80px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
