.Home {
  text-align: center;
  background-color: #D4B8AB;
  height: 500px;
  padding-top: 30vh;
  padding-left: 140px;
  padding-right: 140px;
}

.Summary {
  height: 550px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #E2DFE2;
}

.summary-background {
  margin-left: 160px;
  width: 826px;
  height: 551px;
  position: absolute;
}

.summary-background-main {
  width: 826px;
  height: 551px;
  position: absolute;
}

.summary-text {
  width: 350px;
  margin-top: 250px;
  padding: 30px;
  font-size: 16px;
  position: absolute;
  border: 0.5px solid #D4B8AB;
  background-color: #E2DFE2;
}

.img-2 , .img-3, .img-4 {
  height: 500px;
  width: 150px;
}

.Story, .Projects {
  height: 650px;
  padding-left: 140px;
  padding-right: 140px;
}

.Projects {
  background-color: #E2DFE2;
}

.slider {
  position: inherit;
}

.Contact {
  height: 600px;
  padding-left: 140px;
  padding-right: 140px;
}

.Footer {
  height: 90px;
  text-align: center;
  background-color: #D4B8AB;
}

.Footer p {
  font-size: 10px;
}

.social {
  padding-top: 20px;
}

h1 {
  font-family: "Geometria";
  font-size: 110px;
  margin: 0;
}

h2 {
  font-family: "Raleway";
  font-size: 28px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

p {
  font-family: "Raleway";
  font-size: 18px;
}

a {
  font-family: "Raleway";
  font-size: 18px;
  cursor: pointer;
}

.Navigation a {
  font-size: 18px;
  margin-right: 145px;
  cursor: pointer;
}

.Navigation #last {
  padding: 0;
}

.Navigation {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #E2DFE2;
}

.Navigation a:hover {
  border-bottom: 4px solid #D4B8AB;
  color: black;
}

.story-group {
  display: inline-flex;
}

.story-image {
  float: left;
}

.story-text {
  float: right;
  width: 450px;
  line-height: 30px;
  font-size: 16px;
}

.story-text br {
  line-height: 40px;
}

.contact-form {
  width: 450px;
  height: 300px;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid black;
  font-size: 18px;
  font-family: "Raleway";
}

input, textarea {
  font-size: 18px;
  font-family: "Raleway";
  width: 350px;
  height: 25px;
  margin-left: 10px;
}

textarea {
  height: 80px;
  width: 316px;
  margin-top: -20px;
  margin-left: 90px;
}

button {
  font-family: "Raleway";
  font-size: 1em;
  background-color: transparent;
  margin-top: 25px;
  border: none;
  color: black;
  text-align:left;
  cursor: pointer;
}

#primary {
  left: 0%;
  position: relative;
  color: #D4B8AB;
  font-weight: bold;
}

#secondary {
  left: 55%;
  position: relative;
}

button:hover {
  border-bottom: 4px solid #D4B8AB;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
